# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.cpython-*

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Environment files
*.env

# Mac
*.DS_Store

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Backup files
*~
*.swp
*.bak
*.tmp
